
$primary: #000;

$link: #e02a65;

$PRIMARY: #5FFFA2;
$PRIMARY_DARK: #040F0F;
$SECONDARY: #2BA84A;
$SECONDARY_DARK: #2D3A3A;
$WHITE: #EFF1F3;
$BLACK: #000000;

// TRANSPARENT
$PRIMARY_TRANSPARENT: rgba(45,58,58,0.13);
$SECONDARY_TRANSPARENT: rgba(180,180,188,0.55);

// ACTIONS
$SUCCESS: #3adb76;
$WARNING: #FED766;
$ALERT: #DB2B39;

// GRAYSCALE
$GRAY_LIGHT: #FCFFFC;
$GRAY_MEDIUM: #cacaca;
$GRAY_DARK: #8a8a8a;