
table {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  height: calc(100% - 50px);
  display: block;
  position: relative;

  td {
      padding: 0.5em;
      text-align: center;
  }

  td:nth-child(2) {
    text-align: left;
    width: 90%;
  }

  .header {
    font-weight: bold;
  }

  overflow: auto;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}